@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppinsSemi;
  src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsBold;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: archivo;
  src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #171717;
  overflow-x: hidden !important;
  color: white;
  width: 100vw;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background-color: #41445C;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: #172234;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.App {
  position: relative;
}

nav {
  position: fixed;
  width: 96vw;
  margin: 15px;
  border-radius: 10px;
  background-color: #252537;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}

.main-nav-logo svg {
  color: rgb(0, 174, 255);
  height: 40px;
  width: 89px;
}
.main-nav-logo svg:hover {
  color: #00D1FF;
}

.nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  height: fit-content;
  padding: 5px 10px;
}
.nav-left .nav-left-item, .nav-right .nav-left-item {
  font-size: 18px;
}
.nav-left .nav-right-item, .nav-right .nav-right-item {
  font-size: 16px;
}
.nav-left .nav-left-item, .nav-left .nav-right-item, .nav-right .nav-left-item, .nav-right .nav-right-item {
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.nav-left .nav-left-item svg, .nav-left .nav-right-item svg, .nav-right .nav-left-item svg, .nav-right .nav-right-item svg {
  width: 15px;
  /* color: rgb(161, 161, 161); */
  color: hsla(0deg, 0%, 100%, 0.3);
  display: block;
  margin-left: 5px;
}
.nav-left .nav-left-item:hover, .nav-left .nav-right-item:hover, .nav-right .nav-left-item:hover, .nav-right .nav-right-item:hover {
  background-color: #41445C;
  cursor: pointer;
}
.nav-left .nav-left-item:hover .nav-hover-container, .nav-left .nav-right-item:hover .nav-hover-container, .nav-right .nav-left-item:hover .nav-hover-container, .nav-right .nav-right-item:hover .nav-hover-container {
  height: 100px;
}
.nav-left .nav-left-item:hover .nav-hover-cont, .nav-left .nav-right-item:hover .nav-hover-cont, .nav-right .nav-left-item:hover .nav-hover-cont, .nav-right .nav-right-item:hover .nav-hover-cont {
  display: flex;
}
.nav-left .nav-more, .nav-right .nav-more {
  display: flex;
  background-color: hsla(0deg, 0%, 100%, 0.05);
  margin-left: 10px;
}
.nav-left .nav-more .dot-svg-cont, .nav-right .nav-more .dot-svg-cont {
  display: flex;
  flex-direction: row;
}
.nav-left .nav-more svg, .nav-right .nav-more svg {
  margin: 1.5px;
  color: white;
  width: 4px;
}
.nav-left #account-icon, .nav-right #account-icon {
  width: 30px;
}
.nav-left .nav-button, .nav-right .nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: #060c11;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.nav-left .nav-button svg, .nav-right .nav-button svg {
  width: 25px;
  height: 25px;
  color: #148EFF;
  margin-right: 10px;
}
.nav-left .nav-button:hover, .nav-right .nav-button:hover {
  background-color: #101723;
}
.nav-left #nav-last:hover, .nav-right #nav-last:hover {
  background-color: transparent;
}

.down-arrow svg {
  height: 25px;
}

.nav-hover-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: inherit;
}

.nav-hover-cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  min-width: 300px;
  background-color: #171926;
  display: none;
}
.nav-hover-cont .nav-hover-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 5px;
}
.nav-hover-cont .nav-hover-item:hover {
  background-color: #232531;
}
.nav-hover-cont .nav-hover-item .nav-hover-words {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.nav-hover-cont .nav-hover-item .nav-hover-words .nav-hover-genre {
  color: gray;
  font-size: 14px;
}
.nav-hover-cont .nav-hover-item .nav-hover-words .nav-hover-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-hover-cont .nav-hover-item .nav-hover-words .nav-hover-title svg {
  display: inline-block;
  height: 15px;
  position: relative;
  left: -5px;
  top: 1px;
}

.nav-hover-left img,
.nav-hover-left svg {
  height: 48px !important;
  width: 48px !important;
  margin-right: 10px;
  display: block;
}

.nav-hover-right img, .nav-hover-right svg {
  height: 24px;
  width: 24px !important;
  margin-right: 10px;
  display: block;
}

.nav-hover-main {
  width: 100%;
  background-color: #171926;
  border-radius: 10px;
  padding: 10px;
}

.nav-hover-submain {
  background-color: #10111B;
  border-radius: 0 0 10px 10px;
  padding: 0 0 10px;
}
.nav-hover-submain p {
  color: gray;
  font-size: 14px;
  margin: 5px 5px;
  padding: 10px 19px 0;
  font-weight: 600;
}

.nav-hover-arrow {
  height: 10px;
  width: 25px;
  background-color: #171926;
  margin: 0 auto;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.nav-hover-new {
  background-color: #1FB8FF;
  color: black;
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 3px;
  margin-left: 5px;
}

.nav-hover-button {
  display: flex;
  justify-content: center;
  background-color: #0c94ec;
  margin: 15px 5px;
  padding: 10px;
  border-radius: 5px;
}
.nav-hover-button:hover {
  background-color: #25A2F4;
}
.nav-hover-button .nav-button-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-hover-button .nav-button-items svg {
  color: white;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.small-nav {
  background-color: #262A3F;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 100vw;
}

@media screen and (max-width: 500px) {
  .small-nav {
    padding: 10px 2px;
  }
}
.small-nav-right, .small-nav-left {
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-nav-right:hover, .small-nav-left:hover {
  background-color: #3B3B4D;
}
.small-nav-right svg, .small-nav-left svg {
  height: 24px;
  width: 24px;
}

.small-nav-logo svg {
  color: rgb(0, 174, 255);
  width: 60px;
  height: 30px;
}
.small-nav-logo svg:hover {
  color: #00D1FF;
}

#small-menu-logo svg {
  width: 70px;
  height: 40px;
}

.small-nav-overlay {
  position: fixed;
  top: 57px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.small-right-nav, .small-left-nav {
  width: 87vw;
  max-width: 480px;
  height: 100vh;
  background-color: #171926;
  position: absolute;
  top: 0;
  z-index: 100;
  overflow-y: auto;
}
.small-right-nav .top, .small-left-nav .top {
  display: flex;
  padding: 8px 8px;
  justify-content: space-between;
  align-items: center;
}
.small-right-nav .small-nav-left, .small-left-nav .small-nav-left {
  background-color: hsla(0deg, 0%, 100%, 0.05);
  padding: 8px 8px;
}
.small-right-nav .small-nav-left:hover, .small-left-nav .small-nav-left:hover {
  background-color: #2F303C;
}

.small-left-nav {
  left: 0;
}

@keyframes slide-in-right {
  0% {
    right: -45vw;
  }
  100% {
    right: 0;
  }
}
.carousel-cont {
  background-image: linear-gradient(90deg, #202D3F, #152337);
}

@media screen and (max-width: 1200px) {
  .slider-cont {
    width: 92vw !important;
  }
}
@media screen and (max-width: 720px) {
  .slider-cont {
    width: 100vw !important;
    height: 480px !important;
  }
  .carousel-main-heading {
    font-size: 30px !important;
    font-family: poppins, Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    width: 85vw;
    margin: 0 10px;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    letter-spacing: 2px;
  }
  .carousel-sub-heading {
    display: none;
  }
  .slide-content-cont img {
    width: 45vw !important;
    max-width: 180px !important;
  }
  .carousel-secondary-button {
    display: none;
  }
  .carousel-main-button {
    padding: 15px 30px !important;
    font-size: 22px !important;
    font-weight: 400 !important;
  }
}
@media screen and (min-width: 1200px) {
  .slider-cont:has(.left-inactive-carousel:hover) {
    left: 51%;
  }
  .slider-cont:has(.left-inactive-carousel:hover) .left-inactive-carousel {
    opacity: 1;
  }
  .slider-cont:has(.right-inactive-carousel:hover) {
    left: 49%;
  }
  .slider-cont:has(.right-inactive-carousel:hover) .right-inactive-carousel {
    opacity: 1;
  }
}
.slider-cont {
  width: 83vw;
  height: 730px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px;
  background-color: black;
}

.left-carousel-button, .right-carousel-button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #333B4B;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-carousel-button:hover, .right-carousel-button:hover {
  background-color: #484F5D;
}
.left-carousel-button svg, .right-carousel-button svg {
  width: 20px;
  height: 20px;
  color: #D0E9FF;
}

.left-carousel-button {
  left: -4%;
}

.right-carousel-button {
  right: -4%;
}

@media screen and (max-width: 1200px) {
  .left-carousel-button, .right-carousel-button {
    display: none;
  }
}
.active-carousel {
  opacity: 1;
}

.inactive-carousel {
  opacity: 0.3;
}

.slide-content-cont {
  position: absolute;
  left: 10%;
  opacity: 1 !important;
  color: white;
}
.slide-content-cont .carousel-main-heading {
  font-size: 60px;
  font-family: archivo, sans-serif;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
  font-weight: 700;
  margin: 20px 0 30px;
  max-width: 700px;
}
.slide-content-cont .carousel-sub-heading {
  font-family: archivo, Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
  color: #ACA7C7;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
}
.slide-content-cont .carousel-button-cont {
  display: flex;
  flex-direction: row;
}
.slide-content-cont button {
  padding: 20px 40px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  font-size: 24px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}
.slide-content-cont .carousel-main-button {
  background-color: #0c94ec;
  margin-right: 20px;
}
.slide-content-cont .carousel-main-button:hover {
  background-color: #48B9FF;
}
.slide-content-cont .carousel-secondary-button {
  background-color: #565D6F;
}
.slide-content-cont .carousel-secondary-button:hover {
  background-color: #5C6277;
}

@media screen and (max-width: 1200px) {
  .slide-content-cont {
    left: 50%;
    top: 50% !important;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
  }
  .slide-content-cont .carousel-main-heading {
    font-size: 50px;
    text-align: center;
    max-width: 500px;
  }
}
@media screen and (max-width: 420px) {
  .slide-content-cont {
    top: 43% !important;
  }
}
.slide-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 78, 0.3);
  position: absolute;
}

.slider-tabs-cont {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-tab {
  width: 100px;
  height: 12px;
  border-radius: 4px;
  background-color: #8697AA;
  margin: 12px 8px;
  transition: transform ease-in 0.3s;
}
.slider-tab:hover {
  background-color: white;
}

@media screen and (max-width: 720px) {
  .slider-tab {
    width: 52px;
    height: 8px;
    border-radius: 2px;
  }
}
@media screen and (max-width: 420px) {
  .slider-tab {
    width: 15vw;
    margin: 5px;
  }
  .slider-tabs-cont {
    bottom: 5px;
  }
}
#active-tab {
  background-color: white;
  transform: scaleY(1.3);
}

.home-games-container {
  background-image: url(pictures/2600_Featured_Games.webp);
  z-index: -1;
  padding: 20px;
  background-size: cover;
}

.home-games-cont {
  width: 80vw;
  margin: 80px auto 20px;
  /* background-color: #1C3553; */
}

@media screen and (max-width: 1200px) {
  .home-games-cont {
    width: 95vw;
  }
}
.featured-games {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.featured-games h1 {
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.platforms-cont {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.platforms-cont li {
  margin: 0 10px 10px 0;
  font-size: 16px;
  padding: 5px 22px;
  border-radius: 20px;
  background-color: rgba(208, 233, 255, 0.2);
  height: fit-content;
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
}
.platforms-cont li:hover {
  background-color: #58728E;
}

.game-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px 0;
  grid-row-gap: 20px;
}

@media screen and (max-width: 960px) {
  .game-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .featured-games {
    flex-direction: column;
  }
  .featured-games h1 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .game-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 330px) {
  .game-cards-container {
    grid-template-columns: 1fr;
  }
}
.game-card-cont {
  width: 90%;
  height: fit-content;
}
.game-card-cont .top-img {
  background-size: cover;
  height: 25vw;
  display: flex;
  border-radius: 3px;
  width: 100%;
}
.game-card-cont .top-img img {
  width: 100%;
  margin-top: auto;
  display: block;
  max-height: 100%;
}
.game-card-cont .top-img .new-game {
  position: absolute;
  margin: 20px;
  font-family: archivo, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #0A0D15;
  padding: 8px 10px;
  border: 2px solid white;
  border-radius: 4px;
}

@media screen and (max-width: 680px) {
  .game-card-cont .new-game {
    margin: 5px !important;
    padding: 6px 8px !important;
    font-size: 12px !important;
    border: 1px solid white !important;
  }
}
@media screen and (max-width: 960px) {
  .game-card-cont .top-img {
    height: 40vw !important;
  }
}
@media screen and (max-width: 500px) {
  .game-card-cont .top-img {
    height: 55vw !important;
  }
}
@media screen and (max-width: 330px) {
  .game-card-cont .top-img {
    height: 100vw !important;
  }
}
.game-card-words {
  padding: 15px 0;
}
.game-card-words h3 {
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
  color: #C9E1EF;
  font-size: 20px;
  margin-bottom: 5px;
}
.game-card-words h4 {
  font-family: archivo, Arial, Helvetica, sans-serif;
  color: rgba(208, 233, 255, 0.6);
  font-size: 14px;
}
.game-card-words .gaming-platforms {
  /* color: #8697AB; */
  color: rgba(208, 233, 255, 0.6);
  display: flex;
  margin: 10px 0;
}
.game-card-words .gaming-platforms .icon-cont {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  position: relative;
}
.game-card-words .gaming-platforms .icon-cont svg {
  width: 100%;
  height: 100%;
}
.game-card-words .gaming-platforms .icon-cont:hover .hover-tooltip-cont {
  display: block;
}

.hover-tooltip-cont {
  position: absolute;
  background-color: #3A465F;
  color: white;
  font-family: archivo, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  top: 180%;
  display: none;
}
.hover-tooltip-cont .hover-tooltip-triangle {
  height: 10px;
  width: 20px;
  position: absolute;
  bottom: 98%;
  background-color: #3A465F;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.small-nav-left-container {
  width: 100%;
  font-family: archivo, Arial, Helvetica, sans-serif;
}

.small-nav-left-main-cont .small-nav-left-main {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin: 8px;
}
.small-nav-left-main-cont .small-nav-left-main svg {
  width: 15px;
  color: hsla(0deg, 0%, 100%, 0.3);
  margin-left: 6px;
}
.small-nav-left-main-cont .small-nav-left-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  min-height: 50px;
}
.small-nav-left-main-cont .small-nav-left-heading:hover {
  background-color: #232531;
}

.small-nav-left-main:has(.small-nav-left-subitems) .small-nav-left-heading:hover {
  background-color: #1C1D27;
}

.small-nav-left-subitems {
  font-family: archivo, Arial, Helvetica, sans-serif;
}
.small-nav-left-subitems .nav-hover-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.small-nav-left-subitems .nav-hover-item:hover {
  background-color: #1C1D27;
}
.small-nav-left-subitems .nav-hover-item .nav-hover-words {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.small-nav-left-subitems .nav-hover-item .nav-hover-words .nav-hover-genre {
  color: gray;
  font-size: 14px;
  margin-top: 8px;
}
.small-nav-left-subitems .nav-hover-item .nav-hover-words .nav-hover-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.small-nav-left-subitems .nav-hover-item .nav-hover-words .nav-hover-title svg {
  display: inline-block;
  height: 15px;
  position: relative;
  left: -5px;
  top: 1px;
}

.small-nav-upcoming {
  color: gray;
  font-size: 16px;
  margin: 5px 5px;
  padding: 10px 19px 0;
  font-weight: 700;
  font-family: archivo, Arial, Helvetica, sans-serif;
}

.small-nav-button {
  margin: 20px 10px 15px;
  padding: 14px;
  border-radius: 10px;
}
.small-nav-button .small-nav-button-items {
  font-family: archivo, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.small-nav-left-about-cont {
  background-color: #10111B;
  width: 100%;
  margin-top: 50px;
  padding: 20px 10px 70px;
}
.small-nav-left-about-cont p {
  color: #80888D;
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.small-nav-about-cont .nav-hover-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
.small-nav-about-cont .nav-hover-item:hover {
  background-color: #232531;
}
.small-nav-about-cont .nav-hover-item .nav-hover-words {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.small-nav-about-cont .nav-hover-item .nav-hover-words .nav-hover-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.small-nav-about-cont .nav-hover-item .nav-hover-words .nav-hover-title svg {
  display: inline-block;
  height: 15px;
  position: relative;
  left: -5px;
  top: 1px;
}
.small-nav-about-cont .nav-hover-right img, .small-nav-about-cont .nav-hover-right svg {
  height: 24px;
  width: 24px !important;
  margin-right: 10px;
  display: block;
  color: #80888D;
}

.small-nav-right-container .nav-hover-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
.small-nav-right-container .nav-hover-item:hover {
  background-color: #232531;
}
.small-nav-right-container .nav-hover-item .nav-hover-words {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.small-nav-right-container .nav-hover-item .nav-hover-words .nav-hover-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: poppinsSemi, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.small-nav-right-container .nav-hover-item .nav-hover-words .nav-hover-title svg {
  display: inline-block;
  height: 15px;
  position: relative;
  left: -5px;
  top: 1px;
}
.small-nav-right-container .nav-hover-right img, .small-nav-right-container .nav-hover-right svg {
  height: 24px;
  width: 24px !important;
  margin-right: 10px;
  display: block;
  color: #80888D;
}

.small-nav-right-dark {
  background-color: #10111B;
  border-radius: 0;
  height: 59vh;
}

.main-button {
  padding: 20px 40px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  font-size: 24px;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

.blue-button {
  background-color: #0c94ec;
  margin-right: 20px;
}
.blue-button:hover {
  background-color: #48B9FF;
}

.gray-button {
  background-color: #3F4E6D;
}
.gray-button:hover {
  background-color: #565D6F;
}

.all-games-btn {
  margin: 0 auto;
  display: block;
}

.download-battlenet-container {
  background-image: url(pictures/2600_Promo.webp);
  height: 700px;
  width: 100vw;
  padding: 60px 10px;
}

.download-battlenet-cont {
  background-image: url(pictures/Bnet_Card-06.6.webp);
  height: 640px;
  width: 80vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px;
  margin: 0 auto;
  position: relative;
}

.download-bn-words-cont {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-family: archivo, Arial, Helvetica, sans-serif;
}
.download-bn-words-cont h1 {
  font-size: 55px;
  margin: 20px 0;
  font-weight: 500;
}
.download-bn-words-cont p {
  color: #B7B9BE;
  font-size: 25px;
}
.download-bn-words-cont .download-bn-buttons-cont {
  display: flex;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .download-battlenet-cont {
    width: 93vw;
    height: 580px;
    background-image: url(pictures/Mobile_Bnet_Card-02.2.webp);
  }
  .download-bn-words-cont {
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download-bn-words-cont img {
    height: 50px;
  }
  .download-bn-words-cont h1 {
    margin-top: 80px;
  }
}
@media screen and (max-width: 720px) {
  .download-battlenet-cont {
    height: fit-content;
    padding: 60px 0;
  }
  .download-bn-words-cont {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: 0 auto;
    width: 100%;
  }
  .download-bn-words-cont h1 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px;
    width: 90%;
    text-align: center;
  }
  .download-bn-words-cont p {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .download-bn-words-cont .bn-btn {
    padding: 16px 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  .download-battlenet-cont {
    width: 90vw;
  }
  .download-battlenet-cont img {
    width: 80vw !important;
    height: auto;
  }
  .download-bn-buttons-cont {
    flex-direction: column;
  }
  .download-bn-buttons-cont button {
    margin: 0 auto;
  }
  .download-bn-buttons-cont .gray-button {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=App.css.map */
